.container {
    background-color: #fff;
    padding: 2.2dvw 2.3dvw;
    border-radius: 24px;

    .head {
        display: flex;
        justify-content: space-between;

        .header {
            font-weight: 800;
            font-size: 28px;
            line-height: 38px;
        }
    }
}