@import "../../../scss/variables.scss";

.button {
    padding: 17px 26px;
    font-size: 17.83px;
    line-height: 26.74px;
    border: none;
    border-radius: 17.83px;
    cursor: pointer;
    transition: $transition;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

    &:hover {
        filter: brightness(0.8)
    }
}

.primary {
    color: $text-color;
    background-color: transparent;

    &:hover{
        background-color: $text-color;
        color: $secondary-text-color;
    }

    &-bordered {
        border: 2px solid $secondary-color;
    }
}

.secondary {
    background-color: $secondary-color;
    color: $secondary-text-color;

    &-bordered {
        border: 2px solid $secondary-text-color;
    }
}