@import "../../scss/variables.scss";

.container {
    padding: min(2dvw, 32px) min(2.1dvw, 34px);
    box-shadow: 5px 10px 28px rgba(0, 0, 0, 0.096);
    border-radius: 28px;

    .header {
        font-family: "Poppins", sans-serif;
        font-size: 21px;
        line-height: 28px;
        color: #323142;
        font-weight: 600;
        margin-bottom: 17px;
    }

    .categories {
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }

    .sortBy{
        margin-top: 25px;

        .content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            row-gap: 8px;

            .sortByItem{
                display: flex;
                font-size: 15px;
                font-weight: 500;
                font-family: "Poppins", sans-serif;
                color: #ACADB9;
                line-height: 29px;
                transition: $transition;
                cursor: pointer;

                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }

    .priceSorting{
        margin-top: 25px;
    }

    .btnWrapper{
        margin-top: 48px;

        &>*{
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
}