@import "../../scss/variables.scss";

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // grid-template-columns: 2fr 1.3fr;
    margin-top: min(8dvw, 120px);
    column-gap: min(7dvw, 112px);

    &>:first-child {
        width: 100%;
    }

    .leftSide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.weekend {
    font-family: "Poppins", sans-serif;
    font-size: 87.42px;
    line-height: 40.13px;
    text-transform: uppercase;
    font-weight: 800;
    color: #7C6FCD;
    position: relative;
    bottom: 20px;
    left: 20px;
    opacity: 1;
    z-index: -5;
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 35px;

    .search {
        background-color: #EDEDED;
        width: 100%;
    }
}