.viewAll {
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: unset;
    border: none;
    cursor: pointer;
    color: #ACADB9;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}