$text-color: #606060;
$secondary-text-color: #F9F9F9;
$secondary-color: #6C5FBC;
$transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);

$mobile: 480px;
$tablet: 768px;
$laptop: 1366px;
$high-res: 1920px;